* {
    padding: 0;
    margin: 0;
}
.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.header li{
    list-style: none;

}
.header a{
    text-decoration: none;
    color: #333333;
    font-size:20px;
    padding: 0px 30px;
}
.header a:hover{
    color: #333333;
}
.header-logo{
    background-color: #f2f2f2;
}
.info-item ul{
    display: flex;
}
.loging-items ul{
    display: flex;
}
.loging-items{
    padding-right: 5%;
}
.header-logo {
    width: 100%;
    height: 8vh;
}
.header-logo img{
    width: auto;
    height: 8vh;
    padding-left: 5%;
}
.background-colour{
    background-color: #21216f;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 1200px;
    display: flex;
    justify-content:center;
}
.right-from-page{
    padding-top: 5%;
    padding-right: 5%;
    display: flex;
}
.from-page{
    width: 800px;
    height: 800px;
    background-color: #e3e5e7;
    border-radius: 5%;
}
.from-logo{
    padding-top: 22%;
}
.logo-img img{
    width: auto;
    height: 20vh;
}
.from-header p{
    text-align: center;
    color: #1b1b1b;
    font-size: 20px;
    font-weight: bold;
    padding-top: 5%;
    padding-right: 50%;
}
.Sponsor p{
    font-size: 15px;
    font-weight: 500;
    color: #909090;
    padding-left: 5px;
    width: 100%;
}
form input{
 width: 100%;
}
h5{
    padding-top: 5px;
    width: 100%;
}
.right-form{
    padding-left: 5%;
}
.over-form{
    display: flex;
    justify-content: space-between;
}
sup,sub{
    color: red;
}
.submit-button{
    padding-top: 10%;
    width: 40%;
    display: flex;
    justify-content: flex-end;
}
.submit-button input{

    background-color: #6111e1;
    color: #f1f1f1;
    border: none;
    border-radius: 5%;
    padding: 5px 5px;
}
.payment-info{
    padding-top: 55%;
}
.payment-info input{
    width: 50%;
}